html{
    overflow-x: hidden;
}
body{
    margin: 0;
    
}
span{
    font-weight: bold;
}
.main_container{
    position: relative;
    max-width: 800px;
    min-width: 270px;
    min-height: 560px;
    width: 100%;
    height: 100%;
    margin: auto;
}

.mobile_header {
    position: fixed;
    top: 0;
    max-width: 800px;
    width: 100%;
    height: 7vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dadada;
}
.mobile_header .icon{
    height: 3vh;
    width: 3vh;
    margin: 0 3%;
}
.mobile_header #camera{
    background: url('images/camera@3x.png') no-repeat;
    background-position: center;
    background-size: 3vh 3vh;
}
.mobile_header #insta{
    background: url('images/insta-logo.png') no-repeat;
    background-position: center;
    background-size: 14vh 5vh;
    height: 5vh;
    width: 14vh;
    margin: 0 20%;
}
.mobile_header #message{
    background: url('images/dm@3x.png') no-repeat;
    background-position: center;
    background-size: 3vh 3vh;
}



.container {
    width: 100%;
    margin: auto;
    padding: 7vh 0;
}

.stories_container {
    height: 24vw;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: row;
    margin: 0;
    overflow-x: auto;
    overflow-y: hidden;
}
.stories_container::-webkit-scrollbar {
    display: none;
}
.stories_container .story_wrap{
    width: 24vw;
    height: 100%;
    margin: 1vh 1vh 0.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stories_container .story_pic{
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    padding: 2px;
    border: 2px solid #dadada;
    background: url('images/고길동 프사.png') no-repeat;
    background-position: center;
    background-size: cover;
}
.stories_container .border_gradation{
    border: 2px solid transparent;
    background-image: url('images/둘리.png'), linear-gradient(white, white), linear-gradient(45deg, #faaf6a,  #cc4fa4);
    background-origin: border-box;
    background-clip: content-box, padding-box,border-box;
}
.stories_container .story_name{
    font-size: 0.7rem;
    text-align: center;
    margin-top: 1px;
    width: 100%;
}




.post_container {
    width: 100%;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}
.post_container .icon{
    height: 3vh;
    width: 3vh;
    margin: 0 3%;
}



.post_container .post_head {
    height: 7vh;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.post_container .post_head .post_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30vh;
    height: 6vh;
    margin: 0 3%;
}
.post_container .post_head .post_title .title_pic{
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    background: url('images/고길동 프사.png') no-repeat;
    background-position: center;
    background-size: cover;
}
.post_container .post_head .post_title .title_name{
    font-size: 1rem;
    margin-left: 1vh;
}
.post_container .post_head .more{    
    background: url('images/more@3x.png') no-repeat;
    background-position: center;
    background-size: contain;
}



.post_container .post_pic{
    height: 100vmin;
    background: url('images/고길동 배경.png') no-repeat;
    background-position: center;
    background-size: cover;
}


.post_container .post_wrap {
    width: 100%;
}

.post_container .post_wrap .post_btns{
    width: 100%;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.post_container .post_wrap .post_btns .like_reply_message{
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 3%;
}
.post_container .post_wrap .post_btns .like_reply_message .heart{
    background: url('images/like@3x.png') no-repeat;
    background-position: center;
    background-size: 3vh 3vh;
    margin-left: 0;
}
.post_container .post_wrap .post_btns .like_reply_message .re{
    background: url('images/comment@3x.png') no-repeat;
    background-position: center;
    background-size: 3vh 3vh;
}
.post_container .post_wrap .post_btns .like_reply_message .mess{
    background: url('images/dm@3x.png') no-repeat;
    background-position: center;
    background-size: 3vh 3vh;
}
.post_container .post_wrap .post_btns .bookmark{
    background: url('images/favorite@3x.png') no-repeat;
    background-position: center;
    background-size: 3vh 3vh;
}


.post_container .post_wrap .likes {
    width: 100%;
    height: 4vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.post_container .post_wrap .likes .like_pic{
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    margin-left: 3vw;
    margin-right: 1vw;
    background: url('images/둘리.png') no-repeat;
    background-position: center;
    background-size: cover;
}
.post_container .post_wrap .reply{
    margin-left: 3vw;
}
.post_container .post_wrap .time{
    margin-left: 3vw;
    font-size: 0.7rem;
    color: gray;
    margin-top: 5vh;
}


.mobile_footer {
    position: fixed;
    bottom: 0;
    max-width: 800px;
    width: 100%;
    height: 7vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #dadada;
}
.mobile_footer  .foot_btn{
    height: 3vh;
    width: 3vh;
    margin: 0 3%;
}
.mobile_footer #home{
    background: url('images/home@3x.png') no-repeat;
    background-position: center;
    background-size: 3vh 3vh;
}
.mobile_footer #search{
    background: url('images/search@3x.png') no-repeat;
    background-position: center;
    background-size: 3vh 3vh;
}
.mobile_footer #plus{
    background: url('images/trending@3x.png') no-repeat;
    background-position: center;
    background-size: 3vh 3vh;
}
.mobile_footer #like{
    background: url('images/like@3x.png') no-repeat;
    background-position: center;
    background-size: 3vh 3vh;
}
.mobile_footer #home2{
    background: url('images/home@3x.png') no-repeat;
    background-position: center;
    background-size: 3vh 3vh;
}
